node_modules
dist
src/generic-subdomains/persistance/prisma/generated
.env.test
.env.development
.env.production
cloc.json
depcruise.json
/.vscode
.env
bun.xml
architecture-analysis/bun-test-report.xml
ai-contexts
a.
.eslintcache
features.md
.e2e-storage.json
playwright-report
test-results
